body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url('../images/background2.jpg') no-repeat left; 
    background-size: cover;
}
header{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 25px;
}
h1{
    text-align: center;
}
main{
    padding: 0px 20px 0px 20px;
}
footer{
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    padding: 25px;
}
#titulo1{
    color: black;
    
    
}
#texto1{
    color: black ;
    font-size: 20px;
}
.texto1{
    color: black;
    font-size: 20px;
}
#texto3{
    color: black;
    font-size: 20px;
}
#texto4{
    color:black;
    font-size: 20px;
}
.table, td, tr, th{

    text-align: center;
    width: 500px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.fundo-branco{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.fundo-branco2{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
#cabec{
    text-align: center;
    font-size: 50px;
    background-color: #1ABC9C ;
    color: black;
    border-radius: 20px;
}